{% extends "index.html" %}
{% block left %}
<script type="text/javascript" src="{{ url_for('static', filename='my_map_data.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='usmap.js') }}"></script>  
  <h2> {{ user.nickname }}</h2>

   <table onload="JavaScript:timedRefresh(500);">
<td><b>City</b>&nbsp;</td><td><b>State</b>&nbsp;&nbsp;&nbsp;</td><td><b>Count By Year</b>&nbsp;&nbsp;&nbsp;</td>
    {% for post in posts %}
    <tr>
<td> {{post.city}} </td><td>{{post.state}} </td> <td> {{post.count}} </td>
</tr>
    {% endfor %}
</table>  
{{posts}} 
<table>
{% for post in state_posts %}
<tr>
<td>{{post.state}}</td><td>{{post.month_day}}</td><td>{{post.count}}</td>
</tr>

{% endfor %}
</table> 
<div id="map" style="width: 100%"></div>

{% endblock %}
{%block right %}

{% endblock %}
 %   {% for post in posts %}
 %   <div><p>{{ post.author.nickname }} says: <b>{{ post.body }}</b></p></div>
 %   {% endfor %}
